<div class="box">
    <div class="gym-cards">
        <div class="left">
            <img class="banner-img" src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGhlJTIwZ3ltfGVufDB8fDB8fHww"  alt="">
            
        </div>
        <div class="right">
            <div class="gym-info">
                <div class="tag"><span> GoFit</span></div>
                <div class="tag"><i class="fa-solid fa-location-dot"></i>  <span> Navi Mumbai , Ghansoli</span></div>
                <div class="tag">Addess : <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, repellat.</span></div>
                <div class="tag">Name : <span>GoFit</span></div>
            </div>

            <div class="all-images">
                <div class="scrollable-content">
                    <div class="other-img">
                        <img src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGhlJTIwZ3ltfGVufDB8fDB8fHww" alt="">
                    </div>

                    <div class="other-img">
                        <img src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGhlJTIwZ3ltfGVufDB8fDB8fHww" alt="">
                    </div>

                    <div class="other-img">
                        <img src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGhlJTIwZ3ltfGVufDB8fDB8fHww" alt="">
                    </div>

                    <div class="other-img">
                        <img src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGhlJTIwZ3ltfGVufDB8fDB8fHww" alt="">
                    </div>

                    <div class="other-img">
                        <img src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGhlJTIwZ3ltfGVufDB8fDB8fHww" alt="">
                    </div>

                    <div class="other-img">
                        <img src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGhlJTIwZ3ltfGVufDB8fDB8fHww" alt="">
                    </div>

                    <div class="other-img">
                        <img src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGhlJTIwZ3ltfGVufDB8fDB8fHww" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="membership">
        <div class="membership-plan">
            <div class="headline">
                <div><h1>Gym Membership</h1></div>
                <div>
                    <div class="tooltip-container">
                    <span class="tooltip">Hello</span>
                    <span class="text">Note</span>
                    </div>
                </div> 
            </div>            
            <hr>
        </div>
        <div class="book-free-trial">
            <div class="box">
                <div class="sub">
                    <p>Experience the GoFit Gym</p>
                    <button>Book A Free Trial</button>
                </div>
            </div>
            <div class="second">
                <button>INTRESTED GYM</button>
                <button>REQUEST A CALL</button>
            </div>
        </div>
    </div>

    <div class="basic-other-info">
        <div class="amenities">

        </div>
    </div>

    <div class="gym-trainers">
        <div class="head-title">Our Best <span style="color: red;">Trainers</span></div>
        <div class="trainer-list">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <!-- <p class="title">FLIP CARD</p>
                        <p>Hover Me</p> -->
                    </div>
                    <div class="flip-card-back">
                        <p class="title">BACK</p>
                        <p>Leave Me</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>