<div class="box">
    <div class="filters">
        <div class="filter-list">
            <div class="name">Location</div>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam soluta iste debitis labore inventore dignissimos veniam adipisci saepe! Alias est, officiis tempore exercitationem nesciunt minima quo asperiores dolor possimus minus qui esse rerum sequi autem nobis aliquam dolores numquam, vel similique? Est laborum mollitia dolorem vitae dolor reprehenderit, consectetur impedit temporibus praesentium harum voluptates nisi expedita provident necessitatibus inventore recusandae commodi? Aliquam eveniet eos fugit cum, natus numquam deleniti laudantium nihil non magnam? Sit magni omnis ad exercitationem. Odit perspiciatis, incidunt minus error dolores earum doloribus asperiores ex et natus quo labore. Voluptatibus dolorum ipsa, corporis minima reprehenderit quisquam eveniet!
        </div>

        <div class="filter-list">
            <div class="name">Price Range</div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat tenetur sapiente veniam possimus voluptate beatae alias quos porro, illum, accusamus quia fuga. Odio, est necessitatibus magnam iusto unde totam deleniti sit accusamus reprehenderit facere, oloremque officia ea pariatur. Illo ipsam ullam tenetur qui iusto neque omnis, consectetur dolore deleniti nobis eaque perferendis necessitatibus, laborum dolor. Placeat, adipisci voluptatem! Consequatur numquam saepe omnis corrupti, et obcaecati quia?perferendis laborum possimus nobis minima eos autem in laudantium pariatur, at quidem! Possimus sit velit eligendi?
        </div>

        <div class="filter-list">
            <div class="name">Facilities</div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet tenetur numquam voluptatibus maxime? Vitae aliquam neque eveniet, suscipit doloremque officia ea pariatur. Illo ipsam ullam tenetur qui iusto neque omnis, consectetur dolore deleniti nobis eaque perferendis necessitatibus, laborum dolor. Placeat, adipisci voluptatem! Consequatur numquam saepe omnis corrupti, et obcaecati quia?oloremque officia ea pariatur. Illo ipsam ullam tenetur qui iusto neque omnis, consectetur dolore deleniti nobis eaque perferendis necessitatibus, laborum dolor. Placeat, adipisci voluptatem! Consequatur numquam saepe omnis corrupti, et obcaecati quia?
        </div>

        <div class="filter-list">
            <div class="name">Facilities</div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet tenetur numquam voluptatibus maxime? Vitae aliquam neque eveniet, suscipit doloremque officia ea pariatur. Illo ipsam ullam tenetur qui iusto neque omnis, consectetur dolore deleniti nobis eaque perferendis necessitatibus, laborum dolor. Placeat, adipisci voluptatem! Consequatur numquam saepe omnis corrupti, et obcaecati quia?oloremque officia ea pariatur. Illo ipsam ullam tenetur qui iusto neque omnis, consectetur dolore deleniti nobis eaque perferendis necessitatibus, laborum dolor. Placeat, adipisci voluptatem! Consequatur numquam saepe omnis corrupti, et obcaecati quia?
        </div>

        <div class="filter-list">
            <div class="name">Facilities</div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet tenetur numquam voluptatibus maxime? Vitae aliquam neque eveniet, suscipit doloremque officia ea pariatur. Illo ipsam ullam tenetur qui iusto neque omnis, consectetur dolore deleniti nobis eaque perferendis necessitatibus, laborum dolor. Placeat, adipisci voluptatem! Consequatur numquam saepe omnis corrupti, et obcaecati quia?oloremque officia ea pariatur. Illo ipsam ullam tenetur qui iusto neque omnis, consectetur dolore deleniti nobis eaque perferendis necessitatibus, laborum dolor. Placeat, adipisci voluptatem! Consequatur numquam saepe omnis corrupti, et obcaecati quia?
        </div>
    </div>

    <div class="all-cards">
        <div class="card">
            <img src="https://e1.pxfuel.com/desktop-wallpaper/724/88/desktop-wallpaper-sangram-chougule-indian-bodybuilder-thumbnail.jpg" alt="">

            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span>4.5</span>
            </div>

            <div class="info">
                <div class="name-location">
                    <h3 style="color: red;">Sangram Chaugule</h3>
                    <i style="color: green;" class="fa-solid fa-location-dot"></i> <span style=" font-weight: 500;"> Ghansoli</span>
                </div>
                <div class="button">
                    <button class="btn-n">Intrested</button>
                    <button class="btn-n">Contct Now</button>
                    <button class="btn-n">Know more</button>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="https://e1.pxfuel.com/desktop-wallpaper/724/88/desktop-wallpaper-sangram-chougule-indian-bodybuilder-thumbnail.jpg" alt="">

            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span>4.5</span>
            </div>

            <div class="info">
                <div class="name-location">
                    <h3 style="color: red;">Sangram Chaugule</h3>
                    <i style="color: green;" class="fa-solid fa-location-dot"></i> <span style=" font-weight: 500;"> Ghansoli</span>
                </div>
                <div class="button">
                    <button class="btn-n">Intrested</button>
                    <button class="btn-n">Contct Now</button>
                    <button class="btn-n">Know more</button>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="https://e1.pxfuel.com/desktop-wallpaper/724/88/desktop-wallpaper-sangram-chougule-indian-bodybuilder-thumbnail.jpg" alt="">

            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span>4.5</span>
            </div>

            <div class="info">
                <div class="name-location">
                    <h3 style="color: red;">Sangram Chaugule</h3>
                    <i style="color: green;" class="fa-solid fa-location-dot"></i> <span style=" font-weight: 500;"> Ghansoli</span>
                </div>
                <div class="button">
                    <button class="btn-n">Intrested</button>
                    <button class="btn-n">Contct Now</button>
                    <button class="btn-n">Know more</button>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="https://e1.pxfuel.com/desktop-wallpaper/724/88/desktop-wallpaper-sangram-chougule-indian-bodybuilder-thumbnail.jpg" alt="">

            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span>4.5</span>
            </div>

            <div class="info">
                <div class="name-location">
                    <h3 style="color: red;">Sangram Chaugule</h3>
                    <i style="color: green;" class="fa-solid fa-location-dot"></i> <span style=" font-weight: 500;"> Ghansoli</span>
                </div>
                <div class="button">
                    <button class="btn-n">Intrested</button>
                    <button class="btn-n">Contct Now</button>
                    <button class="btn-n">Know more</button>
                </div>
            </div>
        </div>
        
        <div class="card">
            <img src="https://e1.pxfuel.com/desktop-wallpaper/724/88/desktop-wallpaper-sangram-chougule-indian-bodybuilder-thumbnail.jpg" alt="">

            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span>4.5</span>
            </div>

            <div class="info">
                <div class="name-location">
                    <h3 style="color: red;">Sangram Chaugule</h3>
                    <i style="color: green;" class="fa-solid fa-location-dot"></i> <span style=" font-weight: 500;"> Ghansoli</span>
                </div>
                <div class="button">
                    <button class="btn-n">Intrested</button>
                    <button class="btn-n">Contct Now</button>
                    <button class="btn-n">Know more</button>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="https://e1.pxfuel.com/desktop-wallpaper/724/88/desktop-wallpaper-sangram-chougule-indian-bodybuilder-thumbnail.jpg" alt="">

            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span>4.5</span>
            </div>

            <div class="info">
                <div class="name-location">
                    <h3 style="color: red;">Sangram Chaugule</h3>
                    <i style="color: green;" class="fa-solid fa-location-dot"></i> <span style=" font-weight: 500;"> Ghansoli</span>
                </div>
                <div class="button">
                    <button class="btn-n">Intrested</button>
                    <button class="btn-n">Contct Now</button>
                    <button class="btn-n">Know more</button>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="https://e1.pxfuel.com/desktop-wallpaper/724/88/desktop-wallpaper-sangram-chougule-indian-bodybuilder-thumbnail.jpg" alt="">

            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span>4.5</span>
            </div>

            <div class="info">
                <div class="name-location">
                    <h3 style="color: red;">Sangram Chaugule</h3>
                    <i style="color: green;" class="fa-solid fa-location-dot"></i> <span style=" font-weight: 500;"> Ghansoli</span>
                </div>
                <div class="button">
                    <button class="btn-n">Intrested</button>
                    <button class="btn-n">Contct Now</button>
                    <button class="btn-n">Know more</button>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="https://e1.pxfuel.com/desktop-wallpaper/724/88/desktop-wallpaper-sangram-chougule-indian-bodybuilder-thumbnail.jpg" alt="">

            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span>4.5</span>
            </div>

            <div class="info">
                <div class="name-location">
                    <h3 style="color: red;">Sangram Chaugule</h3>
                    <i style="color: green;" class="fa-solid fa-location-dot"></i> <span style=" font-weight: 500;"> Ghansoli</span>
                </div>
                <div class="button">
                    <button class="btn-n">Intrested</button>
                    <button class="btn-n">Contct Now</button>
                    <button class="btn-n">Know more</button>
                </div>
            </div>
        </div>
    </div>
</div>