<div class="box">
    <div class="all-cards">
        <div class="card">
            <img src="https://e1.pxfuel.com/desktop-wallpaper/724/88/desktop-wallpaper-sangram-chougule-indian-bodybuilder-thumbnail.jpg" alt="">

            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span>4.5</span>
            </div>

            <div class="info">
                <div class="name-location">
                    <h3 style="color: red;">Sangram Chaugule</h3>
                    <i style="color: green;" class="fa-solid fa-location-dot"></i> <span style=" font-weight: 500;"> Ghansoli</span>
                </div>
                <div class="button">
                    <button class="btn-n">Intrested</button>
                    <button class="btn-n">Contct Now</button>
                    <button class="btn-n">Know more</button>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="https://e1.pxfuel.com/desktop-wallpaper/724/88/desktop-wallpaper-sangram-chougule-indian-bodybuilder-thumbnail.jpg" alt="">

            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span>4.5</span>
            </div>

            <div class="info">
                <div class="name-location">
                    <h3 style="color: red;">Sangram Chaugule</h3>
                    <i style="color: green;" class="fa-solid fa-location-dot"></i> <span style=" font-weight: 500;"> Ghansoli</span>
                </div>
                <div class="button">
                    <button class="btn-n">Intrested</button>
                    <button class="btn-n">Contct Now</button>
                    <button class="btn-n">Know more</button>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="https://e1.pxfuel.com/desktop-wallpaper/724/88/desktop-wallpaper-sangram-chougule-indian-bodybuilder-thumbnail.jpg" alt="">

            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span>4.5</span>
            </div>

            <div class="info">
                <div class="name-location">
                    <h3 style="color: red;">Sangram Chaugule</h3>
                    <i style="color: green;" class="fa-solid fa-location-dot"></i> <span style=" font-weight: 500;"> Ghansoli</span>
                </div>
                <div class="button">
                    <button class="btn-n">Intrested</button>
                    <button class="btn-n">Contct Now</button>
                    <button class="btn-n">Know more</button>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="https://e1.pxfuel.com/desktop-wallpaper/724/88/desktop-wallpaper-sangram-chougule-indian-bodybuilder-thumbnail.jpg" alt="">

            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span>4.5</span>
            </div>

            <div class="info">
                <div class="name-location">
                    <h3 style="color: red;">Sangram Chaugule</h3>
                    <i style="color: green;" class="fa-solid fa-location-dot"></i> <span style=" font-weight: 500;"> Ghansoli</span>
                </div>
                <div class="button">
                    <button class="btn-n">Intrested</button>
                    <button class="btn-n">Contct Now</button>
                    <button class="btn-n">Know more</button>
                </div>
            </div>
        </div>
        
        <div class="card">
            <img src="https://e1.pxfuel.com/desktop-wallpaper/724/88/desktop-wallpaper-sangram-chougule-indian-bodybuilder-thumbnail.jpg" alt="">

            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span>4.5</span>
            </div>

            <div class="info">
                <div class="name-location">
                    <h3 style="color: red;">Sangram Chaugule</h3>
                    <i style="color: green;" class="fa-solid fa-location-dot"></i> <span style=" font-weight: 500;"> Ghansoli</span>
                </div>
                <div class="button">
                    <button class="btn-n">Intrested</button>
                    <button class="btn-n">Contct Now</button>
                    <button class="btn-n">Know more</button>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="https://e1.pxfuel.com/desktop-wallpaper/724/88/desktop-wallpaper-sangram-chougule-indian-bodybuilder-thumbnail.jpg" alt="">

            <div class="ratings">
                <span class="fa fa-star checked"></span>
                <span>4.5</span>
            </div>

            <div class="info">
                <div class="name-location">
                    <h3 style="color: red;">Sangram Chaugule</h3>
                    <i style="color: green;" class="fa-solid fa-location-dot"></i> <span style=" font-weight: 500;"> Ghansoli</span>
                </div>
                <div class="button">
                    <button class="btn-n">Intrested</button>
                    <button class="btn-n">Contct Now</button>
                    <button class="btn-n">Know more</button>
                </div>
            </div>
        </div>
    </div>
</div>