<header>
    <div class="box1">
        <div class="left">
            <div class="logo">
                <h1>Go<span style="color: red;">Fit</span></h1>
            </div>
            <div class="searchBar">
                <input type="text" placeholder="Search">
            </div>
        </div>
        <div class="right">
            <div class="location">
                <span>
                    <i class="fa-solid fa-location-dot"></i>
                    Location
                </span>
            </div>
            <hr>
            <div class="app-link">
                <span> <i class="fa-solid fa-mobile-screen-button"></i>
                Download App</span>
            </div>
            <hr>
            <div class="language">
                <div class="dropdown">
                    <button class="dropbtn">Language</button>
                    <div class="dropdown-content">
                      <a href="#">English</a>
                      <a href="#">Marathi</a>
                      <a href="#">Hindi</a>
                    </div>
                  </div>
            </div>
            <hr>
            <div class="profile">
                <span><i class="fa-regular fa-user"></i>
                    Profile</span>
            </div>
            <hr>
            <div class="cart">
                <span><i class="fa-solid fa-cart-shopping"></i>
                    Cart</span>
            </div>
        </div>
    </div>

    <!-- <hr> -->

    <div class="box2">
        <div class="option">
            <div class="language">
                <div class="dropdown">
                    <button class="dropbtn">Gyms</button>
                    <div class="dropdown-content-box2">
                      <a href="#">English</a>
                      <a href="#">Marathi</a>
                      <a href="#">Hindi</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="option">
            <div class="language">
                <div class="dropdown">
                    <button class="dropbtn">Personal Trainer</button>
                    <div class="dropdown-content-box2">
                      <a href="#">English</a>
                      <a href="#">Marathi</a>
                      <a href="#">Hindi</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="option">
            <div class="language">
                <div class="dropdown">
                    <button class="dropbtn">Protine</button>
                    <div class="dropdown-content-box2">
                      <a href="#">English</a>
                      <a href="#">Marathi</a>
                      <a href="#">Hindi</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="option">
            <div class="language">
                <div class="dropdown">
                    <button class="dropbtn">Jumba Class</button>
                    <div class="dropdown-content-box2">
                      <a href="#">English</a>
                      <a href="#">Marathi</a>
                      <a href="#">Hindi</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="option">
            <div class="language">
                <div class="dropdown">
                    <button class="dropbtn">Equipment</button>
                    <div class="dropdown-content-box2">
                      <a href="#">English</a>
                      <a href="#">Marathi</a>
                      <a href="#">Hindi</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="option">
            <div class="language">
                <div class="dropdown">
                    <button class="dropbtn">Vendors</button>
                    <div class="dropdown-content-box2">
                      <a href="#">English</a>
                      <a href="#">Marathi</a>
                      <a href="#">Hindi</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="option">
            <div class="language">
                <div class="dropdown">
                    <button class="dropbtn">Language</button>
                    <div class="dropdown-content-box2">
                      <a href="#">English</a>
                      <a href="#">Marathi</a>
                      <a href="#">Hindi</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="option">
            <div class="language">
                <div class="dropdown">
                    <button class="dropbtn">Language</button>
                    <div class="dropdown-content-box2">
                      <a href="#">English</a>
                      <a href="#">Marathi</a>
                      <a href="#">Hindi</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="option">
            <div class="language">
                <div class="dropdown">
                    <button class="dropbtn">Language</button>
                    <div class="dropdown-content-box2">
                      <a href="#">English</a>
                      <a href="#">Marathi</a>
                      <a href="#">Hindi</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="option">
            <div class="language">
                <div class="dropdown">
                    <button class="dropbtn">Language</button>
                    <div class="dropdown-content-box2">
                      <a href="#">English</a>
                      <a href="#">Marathi</a>
                      <a href="#">Hindi</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</header>