.box{
    // background: skyblue;
    width: 100%;
    height: 100rem;
}

.left{
    display: flex;
    justify-content: space-evenly;
    // height: 300px;
}

.img{
   text-align: center;
    background: white;
    width: 30%;
    // height: 300px;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}

.name p{
    margin: 0 0 5px 0;
    color: grey;
}

.right{
    width: 65%;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
}

.right .data{
    display: flex;

}

.right .tag{
    width: 30%;
}

.right .value{
    width: 70%;
}

.edit-btn{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow:inset 0 5px 0 #0ad1f0;
    font-size: 18px;
    cursor: pointer;
}

.edit-btn:hover{
    scale: 1.1;
}

.edit-btn:active{
    box-shadow: 0 5px 0 rgba(0,0,0,0.3);

}

// ----------------section 2 -----------------

.secondSection{
    display: flex;
    height: 200px;
    justify-content: space-evenly;
    margin-top: 20px;
}

.secondSection .soc{
    width: 30%;
}

.secondSection .soc .link{
    background: lightgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px 5px;

}

.secondSection .soc .section-add-kr-kahi-pan{
    background: lightcoral;
    display: block;
    height: 200px;
}

.secondSection .soc .link .logo{
    width: 30%;
}

.secondSection .right{
    width: 65%;
    // background: black;
    height: 500px;
    // padding: 10px 0;
}

.client-img{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    // padding: 10px;
}

.client-img .one,
.client-img .two{
    width: 100%;
    height: 100%;
    // background: red;
    transition: 0.4s;
    cursor: pointer;
}

.client-img .one:hover,
.client-img .two:hover{
    scale: 1.1;
}


// -----------responsive css---------
@media (max-width:650px) {
    .left{
        flex-direction: column;
        width: 80%;
        margin: auto;
        row-gap: 10px;
    }

    .left .img{
        width: 100%;
        
    }

    .right{
        width: 100%;
    }

    .secondSection{
        display: flex;
        flex-direction: column-reverse;
    }

    .secondSection .soc{
        width: 80%;
        margin: auto;
    }

    .secondSection .soc .link{
        width: 100%;
    }

    .secondSection .right{
        width: 90%;
        margin: auto;
        padding-top: 20px;
    }


}


// -----------transformations images-------------

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .glass {
      color: black;
    position: relative;
    width: 180px;
    height: 200px;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r) * 1deg));
  }
  
  .container:hover .glass {
    transform: rotate(0deg);
    margin: 0 10px;
  }
  
  .container .glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
//   --------------------------------
// ------------social-icons-----------------
.card {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

