<div class="box">
    <div class="left">
        <div class="img">
            <img src="https://st3.depositphotos.com/15648834/17930/v/450/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" width="50%" alt="">
            <div class="name">
                <h4 style="font-size: 22px;">Albert Wil</h4>
                <p>Full Stack Developer</p>
                <p>Navi Mumbai , Thane, Ghansoli</p>
            </div>
        </div>
        <div class="right">
            <div class="data" *ngFor="let data of userInfo">
                <div class="tag">
                    <p style="font-size: 18px; font-weight: 500;">{{data.tag}}</p>
                </div>
                <div class="value">
                    <p>{{data.value}}</p>
                </div>
            </div>
            <hr>
            <button class="edit-btn">Edit</button>
        </div>
    </div>

    <section>
        <div class="secondSection">
            <div class="soc">
                <div class="link">
                    <div class="logo">
                        <i class="fa-solid fa-globe"></i>
                    </div>
                    <div class="platformName">
                        <span>Website Name</span>
                    </div>
                </div>
                <div class="link">
                    <div class="logo">
                        <i class="fa-solid fa-globe"></i>
                    </div>
                    <div class="platformName">
                        <span>Website Name</span>
                    </div>
                </div>
                <div class="link">
                    <div class="logo">
                        <i class="fa-solid fa-globe"></i>
                    </div>
                    <div class="platformName">
                        <span>Website Name</span>
                    </div>
                </div>
                <div class="link">
                    <div class="logo">
                        <i class="fa-solid fa-globe"></i>
                    </div>
                    <div class="platformName">
                        <span>Website Name</span>
                    </div>
                </div><br>
                <div class="section-add-kr-kahi-pan">
                    <h2>Kahi pn Add Kr bhava tuja way ne</h2>
                </div>
            </div>
            <div class="right">
                <div class="client-img">
                    <div class="one"><img src="https://st3.depositphotos.com/15648834/17930/v/450/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" width="100%" height="100%" alt=""></div>
                    <div class="two"><img src="https://st3.depositphotos.com/15648834/17930/v/450/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" width="100%" height="100%" alt=""></div>
                    <div class="three"><img src="https://st3.depositphotos.com/15648834/17930/v/450/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" width="100%" height="100%" alt=""></div>
                </div>
                <hr>
                <button class="edit-btn">Add</button>   <!-- create a form to add befor after photos of tranformation done by the trainer -->
            </div>
        </div>

    </section>

</div>