<div class="box">
    <header>
        <div class="left">
            <h1>Go<span style="color: red;">Fit</span></h1>
        </div>
        <div class="middle">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Service</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="right">
            <button *ngIf="login_part" routerLink="/login-register">Login</button>
            <!-- <button *ngIf="!login_part">Register</button> -->
        </div>
    </header>

    <section>
        <div class="left">
            <div>READY TO TRAIN</div>
            <div style="color: red;">YOUR BODY</div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora omnis ipsa similique voluptate quis incidunt rerum harum libero quae voluptatem voluptas ab nostr sed. Officia id aliquid earum explicabo quia est sequi! Deserunt</p>

            <button class="btn-know-more">Know More</button>

            <div class="total">
                <div class="count">
                    <span>200+</span>
                </div>
                <hr>
                <div class="count">
                    <span>240+</span>
                </div>
                <hr>
                <div class="count">
                    <span>980+</span>
                </div>
            </div>
        </div>
        <div class="right">
            <!-- <img src="assets/landing-page-model.png" alt="" width="100%"> -->
        </div>
    </section>

   
</div>

<div class="box2">
    <div class="headingTag">Why <span style="color: red;">Choose Us</span></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam at ipsa laudantium rem doloribus atque rerum repellat,  </p>

    <div class="info-card">
        <div class="card">
            <div class="square"></div>

            <div class="question">Lorem, ipsum dolor.</div>
            <div class="answer" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quod aperiam amet aut quidem ad labore iure laudantium facere vitae.</div>
        </div>

        <div class="card">
            <div class="square"></div>

            <div class="question">Lorem, ipsum dolor.</div>
            <div class="answer" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quod aperiam amet aut quidem ad labore iure laudantium facere vitae.</div>
        </div>

        <div class="card">
            <div class="square"></div>

            <div class="question">Lorem, ipsum dolor.</div>
            <div class="answer" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quod aperiam amet aut quidem ad labore iure laudantium facere vitae.</div>
        </div>

        <div class="card">
            <div class="square"></div>

            <div class="question">Lorem, ipsum dolor.</div>
            <div class="answer" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quod aperiam amet aut quidem ad labore iure laudantium facere vitae.</div>
        </div>
    </div>
</div>

<div class="box3">
    <div class="left">
        <div style="color: white;">We Have a lot of</div>
        <div style="color: red;">experience</div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nostrum impedit, explicabo accusantium quidem dolores itaque ipsum saepe voluptatibus voluptates qui optio at quod. Aspernatur itaque distinctio sunt minima sapiente iste fugiat ab, saepe quas magnam reprehenderit placeat quos rerum perferendis veniam consectetur dignissimos quibusdam voluptatum excepturi eligendi et, possimus veritatis quaerat aliquid. Doloribus ratione sequi, ipsum sed rerum enim recusandae ab, dignissimos deserunt sunt mollitia quos praesentium? Ipsam praesentium non perferendis natus rem nihil enim quod accusantium, consequatur sapiente! Eaque rerum expedita accusantium dolorum delectus quam dolorem incidunt sed earum optio, placeat ab enim animi odit, laudantium quas eveniet?</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid, deserunt qui ab incidunt similique assumenda necessitatibus saepe ex cupiditate obcaecati debitis sequi voluptatem dolores nemo minima odit. Itaque maxime illum repellat voluptate quam molestias, inventore sapiente tenetur qui incidunt minima ex numquam nemo deleniti consequuntur rem animi doloremque sed ea!</p>

        <button class="btn-know-more">Know More</button>
    </div>
    <div class="right">
        <img src="https://st2.depositphotos.com/5954192/11507/i/450/depositphotos_115079720-Muscular-bodybuilder-guy-doing-posing-over-black-background.jpg" alt="">
    </div>
</div>

<div class="box4">
    <div class="heading"><div>Our professional <span style="color: red;">trainer</span></div></div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis totam provident cumque facere sed. Quibusdam quidem minus labore at nisi?</p>

    <div class="trainer-card">
        <div class="card">
            <div class="info">
                <h1 style="color: red;">Sangram Chaugule</h1>
                <h3>Trainer</h3>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="info">
                <h1 style="color: red;">Sangram Chaugule</h1>
                <h3>Trainer</h3>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="info">
                <h1 style="color: red;">Sangram Chaugule</h1>
                <h3>Trainer</h3>
                <div class="rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>
    </div>
</div>