<div class="box">
    <div class="left">
        <div class="name">Ravi Sathe</div>

        <div class="info">
            <div class="heading">Hello Every One</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ea obcaecati suscipit temporibus eaque, id blanditiis expedita ducimus ullam ipsa. Voluptate sed perspiciatis reiciendis provident quam numquam eius, obcaecati quia explicabo architecto, aspernatur nobis porro minima. Corporis sequi cupiditate repudiandae?</p>
        </div>

        <div class="info">
            <div class="heading">Hello Every One</div>
            <p>Lorem ipsum dolor sit amet, consectetur adquia explicabo architecto, aspernatur nobis porro minima. Corporis sequi cupiditate repudiandae?</p>
        </div>

        <div class="info">
            <div class="heading">Stories</div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, voluptate.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, voluptate.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, voluptate.</p>
        </div>

        <!-- <div class="contact-info">

        </div> -->
    </div>
    <div class="middle">
        <img src="assets/trainer-img.png" alt="">
    </div>
    <div class="right">
        <div class="card">
            <div class="heading">Info</div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas culpa facere aliquid quis asperiores possimus autem est iure maxime tempora.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt maiores quasi ipsa, blanditiis dignissimos dicta ullam in illum neque aliquid sequi delectus enim architecto, illo repellat dolorem nulla quo rerum repudiandae ut incidunt quam cupiditate! Aspernatur adipisci deleniti magni voluptatum exercitationem ratione dolorum, repellat temporibus, eligendi possimus, at vero ducimus!</p>
        </div>

        <div class="transformations">
            <h1><span style="color: red; display: block;">Watch </span> Client's Transformations</h1>
        </div>
    </div>
</div>