<div class="box">
    <header>
      <div class="left">
        <h1>LOGO</h1>
      </div>
      <div class="right">
        <h5 *ngIf="loginForm">Already Have Account? <button (click)="onLogin()">Login</button></h5>
        <h5 *ngIf="!loginForm">Don't Have Account? <button (click)="onRegister()">Register</button></h5>
      </div>
    </header>
  
    <!-- Registration Form Starts Here... -->
    <section class="register" *ngIf="loginForm">
      <!-- <img src="" alt=""> -->
      <div class="login-box">
        <form [formGroup]="registrationForm">
          <div class="formNumber" data-aos="flip-up" *ngIf="formNumber == '1'">
            <div class="user-box">
              <input type="text" formControlName="gymName" required="">
              <label>Gym Name</label>
            </div>
            <label style="color: white;">Type Of Gym</label>
            <div class="user-box">
              <select formControlName="typeOfGym">
                <!-- <option disabled selected>Type Of Gym</option> -->
                <option value="Traditional Gym/Fitness Center">Traditional Gym/Fitness Center</option>
                <option value="24-Hour Gym">24-Hour Gym</option>
                <option value="Boutique Fitness Studio">Boutique Fitness Studio</option>
                <option value="Women's Only Gym">Women's Only Gym</option>
                <option value="Functional Training Gym">Functional Training Gym</option>
                <option value="Boxing/Martial Arts Gym">Boxing/Martial Arts Gym</option>
                <option value="Outdoor Gym">Outdoor Gym</option>
                <option value="Corporate Gym">Corporate Gym</option>
                <option value="Medical Fitness Center">Medical Fitness Center</option>
                <option value="Virtual/Online Gym">Virtual/Online Gym</option>
              </select>
            </div>
            <div class="user-box">
              <input type="email" formControlName="email" required="">
              <label>Email</label>
            </div>
            <div class="user-box">
              <input type="text" formControlName="phoneNumber" required="">
              <label>Phone Number</label>
            </div>
            <div class="user-box">
              <input type="text" formControlName="managerUniqueNumber" required="">
              <label>Manager Unique Number</label>
            </div>
            <button type="button" (click)="onNext()">Next</button>
          </div>
  
          <div class="formNumber" data-aos="flip-up" *ngIf="formNumber == '2'">
            <div class="checkboxx">
              <label style="color: white; margin-bottom: 5px;">What Facilities Your Gym have</label>
              <div *ngFor="let choice of checks; let i=index" role="group"
              aria-label="Basic checkbox toggle button group">
              <input type="checkbox" class="btn-check" [value]="choice.value" (change)="onCheckChange($event)"
              [id]="choice.id" autocomplete="off">
              <label class="btn btn-outline-primary" [for]="choice.id">{{choice.description}}</label>
            </div>
            </div>
            <button type="button" (click)="goBack()">Back</button>
            <button type="button" (click)="onNext()">Next</button>
          </div>
  
          <div class="formNumber" data-aos="flip-up" *ngIf="formNumber == '3'">
            <div class="user-box">
              <input type="text" formControlName="country" required="">
              <label>Country</label>
            </div>
            <div class="user-box">
              <input type="text" formControlName="state" required="">
              <label>State/Province</label>
            </div>
            <div class="user-box">
              <input type="text" formControlName="city" required="">
              <label>City</label>
            </div>
            <div class="user-box">
              <input type="text" formControlName="pinCode" required="">
              <label>Postal/ZIP Code</label>
            </div>
            <div class="user-box">
              <input type="text" formControlName="address" required="">
              <label>Address</label>
            </div>
            <div class="user-box">
              <input type="text" formControlName="location" required="">
              <label>Location</label>
            </div>
            <button type="button" (click)="goBack()">Back</button>
            <button type="button" (click)="onNext()">Next</button>
          </div>
  
          <div class="formNumber" data-aos="flip-up" *ngIf="formNumber == '4'">
            <div class="user-box">
              <input type="text" formControlName="businessLicenseNumber" required="">
              <label>Business License Number</label>
            </div>
            <div class="user-box">
              <input type="text" formControlName="website" required="">
              <label>Website</label>
            </div>
            <div class="user-box">
              <input type="password" formControlName="password" required="">
              <label>Password</label>
            </div>
            <div class="user-box">
              <input type="password" formControlName="confirmPassword" required="">
              <label>Confirm Password</label>
            </div>
            <button type="button" (click)="goBack()">Back</button>
            <button type="button" (click)="onNext()">Next</button>
          </div>
  
          <div class="formNumber" data-aos="flip-up" *ngIf="formNumber == '5'">
            <h1>Document Upload and Photos</h1>
            <button type="button" (click)="goBack()">Back</button>
            <button type="button" (click)="register()">Register</button>
          </div>
        </form>
      </div>
    </section>
  
  
    <!-- Login Form Starts Here.... -->
    <section class="login" *ngIf="!loginForm">
      <div class="login-box">
  
        <form>
          <div class="user-box">
            <input type="text" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" required="">
            <label>Password</label>
          </div>
          <div style="text-align: center;">
            <a>
              Login
              <span></span>
            </a>
          </div>
        </form>
      </div>
    </section>
  </div>